.formWrapper {
  display: flex;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;
  justify-content: center;
  /*     
       border-color: greenyellow;
       border-style: dotted;
       border-radius: 20px; */
}

.bottomGrid.kb {
  display: grid;
  grid-template-columns: 1fr 5fr; /* Una de una fracción y otra de 2 fracciones */
  grid-template-rows: 35px 35px auto 1fr; /* Dos de una fracción, es lo mismo que poner 1fr, 1fr; */
  grid-column-gap: 0px;
  grid-row-gap: 15px;

  padding: 2rem;

  /* border-color: rgb(9, 126, 116);
     border-style: dotted;
     border-radius: 20px;
     border-radius: 20px; */

  box-sizing: border-box;
  height: 100%;
  width: 80vw;

  align-items: center;
}

#kbArticlePkb,
#titlePkb,
#knowledgePkb {
  text-align: right;
  padding-right: 20px;
}

#knowledgePkb {
  align-self: start;
}

#kbArticleIkb,
#titleIkb {
  padding: 10px;
  margin: 0;
  width: 85.3%;
}

#knowledgeIkb {
  padding: 10px;
  margin: 0;
  width: 85.3%;
  height: 800px;

  overflow: hidden;
  resize: vertical;
}

#knowledgeIkb:focus {
  border: 2px solid #695cfe;
}

#knowledgeIkb,
#knowledgePkb {
  margin-top: 4rem;
}

.input.kb,
.select.kb {
  display: inline;
  background-color: #1f1f1f;
  border-radius: 10px;
  border: 0px;
  box-sizing: border-box;
  color: #e0e0e0;
  font-size: 14px;
  height: 35px;
  outline: 0;
  width: 240px;
  margin-left: 15px;
  padding-left: 10px;
  transition: all 0.2s;
}

.input.kb:focus {
  border: 2px solid #695cfe;
}

.inputLabel.kb {
  display: inline;
  color: #c2c2c2;
  /* padding-right: 10px; */
}
