:root {
  /* ===== Colors ===== */
  --body-color: #121212;
  --sidebar-color: #1f1f1f;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transitions ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

.backlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.backlogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  width: 70vw;
  margin: 0 auto;
}

.bLogTitle {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 3rem;
  color: #c2c2c2;
}

.rCount,
.ipCount,
.nCount {
  font-size: 120px;
  font-weight: 600;
  color: #695cfe;
}

.rLabel,
.ipLabel,
.nLabel {
  font-size: 30px;
  font-weight: 400;
  color: #c2c2c2;
}

.rBtn,
.ipBtn,
.nBtn {
  text-decoration: none;
}
